<!--
  templateType: global_partial
  label: Footer
-->
<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<div class="" data-global-widget-path="generated_global_groups/45370641941.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_1618755209476571" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="ml-footer-top">
  <div class="ml-footer-top-inner">
    <div class="ml-footer-top-left">
      <h3>Need help with something?</h3>
    </div>
    <div class="ml-footer-top-right">
      <ul class="contact-list">
        <li><a href="tel:1-855-202-3913"> <span><img src="https://www.letschatsnacks.com/hubfs/Letschatsnacks_2021/images/chat.png" alt="chat"></span>1-855-202-3913</a></li>
        <li><a href="/contact-us" target="_blank"><span><img src="https://www.letschatsnacks.com/hubfs/Letschatsnacks_2021/images/mail.png" alt="mail"></span>Email Us</a></li>
      </ul>
    </div>
  </div>
  <div class="ml-footer-social">
    <ul class="social-link">
      <li><a href="https://www.facebook.com/Snack-and-Dessert-Solutions-1046217805584648/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/snackanddessertsolutions/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/showcase/snack-%26-dessert-solutions" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://pinterest.com/mdlzfoodservice" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com/user/FSSnacksDesserts" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-middle" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-inner-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
<div class="row-fluid ">
<div class="span7 widget-span widget-type-cell footer-menus" style="" data-widget-type="cell" data-x="0" data-w="7">

<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
<div class="row-fluid ">
<div class="span4 widget-span widget-type-custom_widget footer-menu-1" style="" data-widget-type="custom_widget" data-x="0" data-w="4">
<div id="hs_cos_wrapper_module_752740310" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_752740310_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>OUR COMPANY</h3>
<ul>
<li><a href="https://www.mondelezinternationalfoodservice.com/about-us">About Mondelēz<br>International Foodservice</a></li>
<li><a href="https://www.mondelezinternationalfoodservice.com/find-distributor">Find a Distributor</a></li>
<li><a href="https://www.mondelezinternational.com/privacy-policy">Privacy Policy</a></li>
<li><a href="https://www.mondelezinternational.com/legal-notices">Terms of Use</a></li>
<li><a href="https://www.mondelezinternationalfoodservice.com/contact-us">Contact Us</a></li>
</ul></span></div>

   </div><!--end widget-span -->
<div class="span4 widget-span widget-type-custom_widget footer-menu-2" style="" data-widget-type="custom_widget" data-x="4" data-w="4">
<div id="hs_cos_wrapper_module_470284308" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_470284308_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>AFFILIATED SITES</h3>
<ul>
<li><a href="http://diji-touch.com/" target="_blank" rel="noopener">Diji-touch</a></li>
<li><a href="http://www.mdlzvending.com/" target="_blank" rel="noopener">Vending Operator Login</a></li>
<li><a href="http://www.mondelezinternational.com/" target="_blank" rel="noopener">Mondelēz International Corporate</a></li>
<li><a href="http://www.mondelezcanadafoodservice.ca/" target="_blank" rel="noopener">Canada Foodservice</a></li>
</ul></span></div>

   </div><!--end widget-span -->
<div class="span4 widget-span widget-type-custom_widget footer-menu-3" style="" data-widget-type="custom_widget" data-x="8" data-w="4">
<div id="hs_cos_wrapper_module_283672583" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_283672583_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>CONSUMER SITES</h3>
<ul>
<li><a href="http://www.snackworks.com/" target="_blank" rel="noopener">Snackworks</a></li>
<li><a href="http://www.oreo.com/" target="_blank" rel="noopener">OREO</a></li>
<!--<li><a href="https://www.mondelezinternationalfoodservice.com/search/searchresults.aspx?searchData=sad" target="_blank" rel="noopener">SnackSearch</a></li>--></ul></span></div>

   </div><!--end widget-span -->
    </div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span5 widget-span widget-type-custom_widget footer-image" style="" data-widget-type="custom_widget" data-x="7" data-w="5">
<div id="hs_cos_wrapper_module_1618755378271660" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    






  



<span id="hs_cos_wrapper_module_1618755378271660_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="https://www.letschatsnacks.com/hubfs/Letschatsnacks_2021/images/footer-logo.png" class="hs-image-widget " style="max-width: 100%; height: auto;" alt="footer-logo" title="footer-logo"></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-bottom" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text custom-footer-copyright" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_806695135" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>© Mondelēz International group</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html js-imports" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_472619446" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><!-- start Main.js DO NOT REMOVE --> 
<script src="https://www.letschatsnacks.com/hs-fs/hub/1714593/hub_generated/template_assets/3622871551/1569543905896/Coded_files/Custom/page/Foodservice-Dec2015-theme/Foodservice-Dec2015-main.js"></script> 
<!-- end Main.js --></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div>