<!--
  templateType: global_partial
  label: Website header
-->
{% set topicsArr = [
  {
    id: "trends",
    name: "Trends",
    description: "See which industry trends are hot, which are not, and how you can leverage each to help drive your business forward.",
    url: "/blog/trends",
    slug: "trends"
  },
  {
    id: "operations",
    name: "Operations",
    description: "Dig into tips and insights from our foodservice industry experts to help you streamline and enhance your service.",
    url: "/blog/operations",
    slug: "operations"
  },
  {
    id: "culinary",
    name: "Culinary",
    description: "Discover food and flavor trends, exciting menu innovations and delicious inspiration to help you meet consumer demand.",
    url: "/blog/culinary",
    slug: "culinary"
  }
  ]

%}
<section class="top-bar">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12 center-xs start-md col-md-2 col-md-offset-1 col-lg-offset-0">
        <a href="https://www.mondelezinternationalfoodservice.com/" target="_blank" alt="Click to visit the Mondelez International Foodservice website" title="Click to visit the Mondelez International Foodservice website">
          <img
            src="https://www.mondelezinternationalfoodservice.com/-/media/MondelezFoodService/Image/mdlz-fs-logo.svg"
            alt="logo"
            class="logo"
            style="width: 90%"
          />
        </a>
      </div>
      <div class="col-xs-12 col-md-8 end-xs">
      </div>
    </div>
  </div>
</section>
<header id="globalHeader">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12 center-xs start-md col-md-3 col-lg-2">
        <a href="https://www.letschatsnacks.com/test-internal?hs_preview=oAdytulO-103909120269">
          <img
            src="https://www.letschatsnacks.com/hubfs/letsChatSnacksWhite.svg"
            alt="logo"
            class="logo"
            style="width: 100%"
          />
        </a>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-10 center-xs end-lg">
        <nav>
          <ul class="inline-list">
          {# Loop through topics array and create the nav #}
            {% for topic in topicsArr %}
              {% if topic.slug == topic %}
                <li><a href="{{topic.url}}?hs_preview=bJjdEKvO-103710825300&topic={{topic.slug}}&description={{topic.description}}" class="active">{{topic.name}}</a></li>
              {% else %}
                <li><a href="{{topic.url}}?hs_preview=bJjdEKvO-103710825300&topic={{topic.slug}}&description={{topic.description}}">{{topic.name}}</a></li>
              {% endif %}
            {% endfor %}
            {# <li><a href="https://www.letschatsnacks.com/test-topic-listing?hs_preview=bJjdEKvO-103710825300&topic=trends">Trends</a></li>
            <li><a href="https://www.letschatsnacks.com/test-topic-listing?hs_preview=bJjdEKvO-103710825300&topic=operations">Operations</a></li>
            <li><a href="https://www.letschatsnacks.com/test-topic-listing?hs_preview=bJjdEKvO-103710825300&topic=culinary">Culinary</a></li> #}
            <li><a href="https://www.mondelezinternationalfoodservice.com/" class="subscribe-btn">Subscribe</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

{# DIsplay the current contacts name #}


{# <div class="header-container-wrapper">
  <div class="header-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-1">
      <div class="row-fluid">
        <div
          class="span12 widget-span widget-type-global_group"
          style=""
          data-widget-type="global_group"
          data-x="0"
          data-w="12"
        >
          <div
            class=""
            data-global-widget-path="generated_global_groups/45370721385.html"
          >
            <div class="row-fluid-wrapper row-depth-1 row-number-1">
              <div class="row-fluid">
                <div
                  class="span12 widget-span widget-type-cell cm-heder-wrapper"
                  style=""
                  data-widget-type="cell"
                  data-x="0"
                  data-w="12"
                >
                  <div class="row-fluid-wrapper row-depth-1 row-number-2">
                    <div class="row-fluid">
                      <div
                        class="span12 widget-span widget-type-cell page-center"
                        style=""
                        data-widget-type="cell"
                        data-x="0"
                        data-w="12"
                      >
                        <div class="row-fluid-wrapper row-depth-1 row-number-3">
                          <div class="row-fluid">
                            <div
                              class="span4 widget-span widget-type-custom_widget cm-logo"
                              style=""
                              data-widget-type="custom_widget"
                              data-x="0"
                              data-w="4"
                            >
                              <div
                                id="hs_cos_wrapper_module_1618754112609177"
                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-logo"
                                style=""
                                data-hs-cos-general-type="widget"
                                data-hs-cos-type="module"
                              >
                                <span
                                  id="hs_cos_wrapper_module_1618754112609177_hs_logo_widget"
                                  class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo"
                                  style=""
                                  data-hs-cos-general-type="widget"
                                  data-hs-cos-type="logo"
                                  ><a
                                    href="https://app.hubspot.com/design-previewer/1714593/code/103741380414"
                                    id="hs-link-module_1618754112609177_hs_logo_widget"
                                    style="border-width: 0px; border: 0px"
                                    ><img
                                      src="https://www.letschatsnacks.com/hubfs/letsChatSnacks.svg"
                                      class="hs-image-widget"
                                      style="
                                        width: 211px;
                                        border-width: 0px;
                                        border: 0px;
                                      "
                                      width="211"
                                      alt="mdlz-fs-logo"
                                      title="mdlz-fs-logo" /></a
                                ></span>
                              </div>
                            </div>
                            <!--end widget-span -->
                            <div class="ml-mobile-menu-trigger visible-phone">
                              <img
                                src="https://www.letschatsnacks.com/hubfs/Letschatsnacks_2021/images/bars.png"
                                alt="bars"
                              />
                            </div>
                            <div
                              class="span8 widget-span widget-type-cell header-right"
                              style=""
                              data-widget-type="cell"
                              data-x="4"
                              data-w="8"
                            >
                              <div
                                class="row-fluid-wrapper row-depth-1 row-number-4"
                              >
                                <div class="row-fluid">
                                  <div
                                    class="span12 widget-span widget-type-custom_widget"
                                    style=""
                                    data-widget-type="custom_widget"
                                    data-x="0"
                                    data-w="12"
                                  >
                                    <div
                                      id="hs_cos_wrapper_module_1618754441420348"
                                      class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                      style=""
                                      data-hs-cos-general-type="widget"
                                      data-hs-cos-type="module"
                                    >
                                     
                                      <span
                                        class="ml-mobile-menu-close visible-phone"
                                      >
                                        <img
                                          src="https://www.letschatsnacks.com/hubfs/Letschatsnacks_2021/images/close.png"
                                          alt="close"
                                        />
                                      </span>
                                    </div>
                                  </div>
                                  <!--end widget-span -->
                                </div>
                                <!--end row-->
                              </div>
                              <!--end row-wrapper -->

                              <div
                                class="row-fluid-wrapper row-depth-1 row-number-5"
                              >
                                <div class="row-fluid">
                                  <div
                                    class="span12 widget-span widget-type-menu custom-menu-primary js-enabled"
                                    style=""
                                    data-widget-type="menu"
                                    data-x="0"
                                    data-w="12"
                                  >
                                    <div
                                      class="cell-wrapper layout-widget-wrapper"
                                    >
                                      <span
                                        id="hs_cos_wrapper_module_824663910"
                                        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu"
                                        style=""
                                        data-hs-cos-general-type="widget"
                                        data-hs-cos-type="menu"
                                        ><div class="mobile-trigger">
                                          <i></i>
                                        </div>
                                        <div
                                          id="hs_menu_wrapper_module_824663910"
                                          class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal"
                                          role="navigation"
                                          data-sitemap-name="Foodservice-Dec2015-Theme-Header Sitemap for mobile"
                                          data-menu-id="45371045793"
                                          aria-label="Navigation Menu"
                                        >
                                          <ul role="menu">
                                            <li
                                              class="hs-menu-item hs-menu-depth-1"
                                              role="none"
                                            >
                                              <a
                                                href="https://www.mondelezinternationalfoodservice.com/brands"
                                                role="menuitem"
                                                >Trends</a
                                              >
                                            </li>
                                            <li
                                              class="hs-menu-item hs-menu-depth-1"
                                              role="none"
                                            >
                                              <a
                                                href="https://www.mondelezinternationalfoodservice.com/culinary-center"
                                                role="menuitem"
                                                >Operations</a
                                              >
                                            </li>
                                            <li
                                              class="hs-menu-item hs-menu-depth-1"
                                              role="none"
                                            >
                                              <a
                                                href="https://www.mondelezinternationalfoodservice.com/your-business"
                                                role="menuitem"
                                                >Culinary</a
                                              >
                                            </li>
                                            <li
                                              class="hs-menu-item hs-menu-depth-1"
                                              role="none"
                                            >
                                              <a
                                                href="https://www.mondelezinternationalfoodservice.com/Insights"
                                                role="menuitem"
                                                >Insights</a
                                              >
                                            </li>
                                          </ul>
                                        </div></span
                                      >
                                    </div>
                                    <!--end layout-widget-wrapper -->
                                  </div>
                                  <!--end widget-span -->
                                </div>
                                <!--end row-->
                              </div>
                              <!--end row-wrapper -->
                            </div>
                            <!--end widget-span -->
                          </div>
                          <!--end row-->
                        </div>
                        <!--end row-wrapper -->
                      </div>
                      <!--end widget-span -->
                    </div>
                    <!--end row-->
                  </div>
                  <!--end row-wrapper -->
                </div>
                <!--end widget-span -->
              </div>
              <!--end row-->
            </div>
            <!--end row-wrapper -->
          </div>
        </div>
        <!--end widget-span -->
      </div>
      <!--end row-->
    </div>
    <!--end row-wrapper -->
  </div>
  <!--end header -->
</div> #}
