<!--
  templateType: responsive-banner
  label: banner
-->
{# starter code for trends banner #}
<style>
    .banner-container-2023 {
        background-image: url(../../images/trends-banner-large-2023.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        max-width: 1200px;
        margin: auto;
        min-height: 330px;
    }
    
    .banner-cta-panel {
        background-color: rgba(228, 221, 233, .89);
        padding: 2em;
        margin: 2em;
        max-width: 30%;
    }
</style>



<div class="banner-container-wrapper">
    <div class="banner-container-2023 container-fluid">
        <div class="banner-cta-panel ">
            <h3>Five Flavor & Food Trends for 2023</h3>
            <p>Check out what our brand ambassadors say will be big taste trends in the year ahead.</p>
            <a href="https://www.mondelezinternationalfoodservice.com/Insights/Trends/five-flavor-and-food-trends-for-2023 " target="_blank " class="button ">Get 2023 Trends</a>
        </div>
    </div>




</div>