<!--
    templateType: page
    isAvailableForNewContent: true
    label: Topic archive

-->
{# Notes from Megan & lori #}

{# 

#2. Build these remaining pages:
Pillar Page (trends/operations/culinary)
Article Page – gated and non-gated
If we keep search feature in, need to build the search results page.
 #}
{% extends "./layouts/base.html" %}

{% block body %}
 
{% set topicsArr = [
  {
    id: "trends",
    name: "Trends",
    description: "Trends",
    url: "/blog/trends",
    slug: "trends"
  },
  {
    id: "operations",
    name: "Operations",
    description: "Operations",
    url: "/blog/operations",
    slug: "operations"
  },
  {
    id: "culinary",
    name: "Culinary",
    description: "Culinary",
    url: "/blog/culinary",
    slug: "culinary"
  }]

%}
{% set topics = ["trends","operations", "culinary"] %}

{# GEt the query string vars #}
{% set query = request.query_dict.topic %}

      {# An array to use for capturing all currently visible posts on the page #}
      {% set used_posts = [] %}

      {# Get all posts with a specific tag set #} 
      {% set tag_posts = blog_recent_tag_posts("default", query, 100) %} 
              
      {# Get most popular posts for a specific tag #}
      {% set popular = blog_popular_posts("default", 5, query) %} 
        {% set recent = blog_recent_tag_posts("default", query, 6) %}

      {% set featured = blog_popular_posts("default", 5,query) %} 
    {# End queries and state management #}
        
    {# Macro - Add to used posts
    This is used to track which posts have been displayed on the page already so that when we run additional queries on the page, we don't display the same posts twice.
    #}
    {% macro add_to_used_posts(post_id) %}
      {# Check if tag_post.id already exists in used_posts #}
      {% if tag_post.id in used_posts %}
        {# If it does, skip this iteration of the loop #}
        {% else %}
        {# If it doesn't, add it to used_posts #}
        {% do used_posts.append(tag_post.id) %}
      {% endif %}
    {% endmacro %}


    {# Macro - Subscription banner  #}
    {% macro subscription_banner() %}
      <section class="subscription-banner" style="height: 40vh; width: 100%; background: #E4DDE9; border-radius: 6px;">
        <div class="container">
          <div class="row middle-xs center-xs" style="height: 40vh">
            <div class="col-xs-12 col-md-12">
              <div class="subscription-banner-content">
                <h1>Subscribe to Let's Chat Snacks</h1>
                <p>Get the latest foodservice, snacking and dessert trends and insights delivered straight to your inbox.</p>
                <div class="subscription-form">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                  <script>
                  hbspt.forms.create({
                  region: "na1",
                  portalId: "1714593",
                  formId: "d8a36810-762a-4153-b305-9ede4823d7c9"
                });
                </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endmacro %}

      {% macro display_posts(posts,count) %}
        <div class="display-posts">
        {# Set local state #}
        {% set delay = 0 %}
          {% set topicsList = [] %}

        {# Loop through the posts #}
        {% for tag_post in posts %}
          {{ add_to_used_posts(tag_post.id) }}
            <div class="post">
              {% set delay = delay + 100 %}

              {# A permalink to the blog post #}
              <a href="{{ tag_post.url }}">
                <div class="featured-image" style="background: url({{ tag_post.featured_image }}) no-repeat center center; background-size: cover; width: 100%; height: 200px;">
                  {# A hidden image for SEO #}
                  <img
                    src="{{ tag_post.featured_image }}"
                    alt="{{tag_post.featured_image_alt_text}}"
                    style="max-width: 240px; display: none;"
                  />
                </div>
              </a>
              <div class="post-summary">
                  <div class="post-title"><h3><a href="{{ tag_post.url }}">{{ tag_post.name }}</a></h3></div>          
              
                  <div class="meta-description">
                    {{tag_post.meta_description|trim}}
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
      {% endmacro %}

      {# Macro - Post list #}
        {% macro post_list(posts) %}
          <div class="post-list">
              
          {% for tag_post in posts %}
            <div class="row post middle-xs" >
              <div class="col-xs-12 col-md-3">
                <a href="{{ tag_post.url }}">
                  <div class="featured-image" style="background: url({{ tag_post.featured_image }}) no-repeat center center; background-size: cover; width: 100%;">
                    <img
                      src="{{ tag_post.featured_image }}"
                      alt="{{tag_post.featured_image_alt_text}}"
                      style="max-width: 100%; visibility: hidden; width: 100%; height: 60px;"
                    />
                  </div>
                </a>
              </div>
              <div class="col-xs-12 col-md-9">
                <div class="post-title"><h3><a href="{{ tag_post.url }}">{{ tag_post.name }}</a></h3></div>
              </div>
            </div>
          {% endfor %}
          </div>

        {% endmacro %}
      {# End post list macro #}


      {% macro larger_posts(posts) %}
        <div class="list">
              
          {% for tag_post in posts %}
            <div class="row top-xs" style="margin-bottom: 20px;" >
              <div class="col-xs-12 col-md-12">
                <a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">
                  <div class="featured-image" style="background: url({{ tag_post.featured_image }}) no-repeat center center; background-size: cover; width: 100%;">
                    <img
                      src="{{ tag_post.featured_image }}"
                      alt="{{tag_post.featured_image_alt_text}}"
                      style="max-width: 100%; visibility: hidden; width: 100%; height: 160px;"
                    />
                  </div>
                </a>
              </div>
              <div class="col-xs-12 col-md-12">
                <div class="post-title"><h3><a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">{{ tag_post.name }}</a></h3></div>
                <p>{{tag_post.publish_date_local_time|datetimeformat("%B %e, %Y") }}</p>
              </div>
            </div>
          {% endfor %}
          </div>
      {% endmacro %}

      {% macro single_article(tag_post) %}
        <div class="row top-xs" >
          <div class="col-xs-12 col-md-12">
            <a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">
              <div class="featured-image" style="background: url({{ tag_post.featured_image }}) no-repeat center center; background-size: cover; width: 100%;">
                <img
                  src="{{ tag_post.featured_image }}"
                  alt="{{tag_post.featured_image_alt_text}}"
                  style="max-width: 100%; visibility: hidden; width: 100%; height: 160px;"
                />
              </div>
            </a>
          </div>
        </div>
        <div class="row top-xs" >
          <div class="col-xs-12 col-md-12 single-post">
          <div class="post-title"><h3><a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">{{ tag_post.name }}</a></h3></div>
              <p>{{tag_post.publish_date_local_time|datetimeformat("%B %e, %Y") }}</p>
            {{tag_post.post_summary}}
            <a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}" class="button">Read More</a>
          </div>
        </div>
      {% endmacro %}

      {# Macro - Slick slider #}
      {% macro slick_slider(posts) %}
        <div class="slick-slider" style=" margin: 0 auto;">
          {% for tag_post in posts %}
            <div class="slick-slide" style="text-align: left">
              <a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">
                <div class="featured-image" style="background: url({{ tag_post.featured_image }}) no-repeat center center; background-size: cover; width: 100%; height: 360px;">
                  <img
                    src="{{ tag_post.featured_image }}"
                    alt="{{tag_post.featured_image_alt_text}}"
                    style="max-width: 100%; display: none;"
                  />
                </div>
              </a>
              <div class="slick-slide__overlay">
              
              <h2><a href="https://www.letschatsnacks.com/test-single-article?hs_preview=iVvsifnO-103909120779&id={{tag_post.id}}">{{ tag_post.name }}</a></h2>
              <p>{{tag_post.publish_date_local_time|datetimeformat("%B %e, %Y") }}</p>
              <p>{{tag_post.meta_description|trim}} </p>
              {# <a href="{{ tag_post.url }}" class="btn btn--primary">Read more</a> #}
              
              </div>
              
            </div>
          {% endfor %}
        </div>
      {% endmacro %}
      {# End slick slider #}
{# End macros #}


{# Main content #}
  {# Subtopic navigation #}
  <section class="subtopic-navigation module">
      <div class="container">
        <div class="row middle-xs center-xs">
          <div class="col-xs-12 col-md-4 start-xs">
            <div class="subtopic-navigation__title">
              {# <h2>< Back to home / Topics / {{query | capitalize }}</h2> #}
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <div class="subtopic-navigation__links">
            {# Query subtopics from articles on the page #}
            {% set subtopics = [] %}
            {% for post in page.posts %}
              {% for tag in post.tags %}
                {% if tag != page.topic %}
                  {% if tag not in subtopics %}
                    {% set subtopics = subtopics|merge([tag]) %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
              <ul>
                {# Loop through subtopics #}
                {% for subtopic in subtopics %}
                  <li><a href="/topics/{{ page.topic }}/{{ subtopic }}">{{ subtopic | capitalize }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="main-content">
  
  {# Include the Topic Curation Module #}
  {% include "topic-curation-module" %}
  {# End Topic Curation Module #}

      <section class="masthead">
        <div class="container" style="padding: 0px;">
          <div class="row start-xs center-xs">

            <div class="col-xs-12 col-md-7">
              <div class="bg--white">  
              <div class="row middle-xs center-xs">
                <div  class="col-xs-12 center-xs">
                  <h1 style="font-size: 2rem">{{query | capitalize }}</h1>
                  <p style="font-size: 1.4rem;line-height: 1.2; max-width: 90%; margin: 20px auto;">Welcome to Let’s Chat Snacks, your destination for insights, emerging trends and delicious ideas to help grow your business.</p>
                  <button style="margin: 20px auto" class="btn btn--primary">Subscribe Here</button>
                </div>
              </div>
            </div>
            </div>            
          </div>
        </div>
      </section>
      <div class="container" style="margin: 0px auto" data-aos="fade-in">
        <div class="row">
        <div class="col-xs-12 col-md-3">
              {# <h2>Recommended For You</h2> #}
                
                {{ single_article(recent[0]) }}
            </div>
           <div class="col-xs-12 col-md-6 ">
              {# <h2>Latest</h2> #}
              {{ slick_slider([recent[1],recent[2],recent[3]]) }}
            </div>
            
            <div class="col-xs-12 col-md-3">
              {# Query popular posts #}
              {# GET 3 posts from recent #}

              {{ larger_posts([recent[4],recent[5]]) }}
            </div>
        </div>
      </div>      

      {% module "module_16776279661113" path="/Templates/Custom/Blog/2023-Theme/modules/Ad Banner", label="Ad Banner" %}
      <div class="container" style="margin: 40px auto">
      {# Subscription banner #}
      <div class="row center-xs">
        <div class="col-xs-12 col-md-9">
          {# use macro #}
          
        </div>
      </div>
        <div class="row start-xs">
        <div class="col-xs-12 col-md-5 col-md-offset-1">
          <h2>Featured in {{query| capitalize}}</h2>
            {{ slick_slider(popular) }}
          </div>
         
          <div class="col-xs-12 col-md-5">
            <h2>Popular</h2>
            {{ post_list(featured) }}
          </div>
        </div>
        <div class="row center-xs">
          <div class="col-xs-12 col-md-10">
          {# Query popular posts #}
          {% module "module_16776277555377" path="/Templates/Custom/Blog/2023-Theme/modules/Subscription Banner", label="Subscription Banner" %}
        </div>
          
        </div>
      </div>      

      

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="row">

            </div>
          </div>
        </div>
      </div>

    
  {% endblock body %}