.subscription-banner {
    background-image: url("https://www.letschatsnacks.com/hubfs/2023-Blog-Website-Assets/signup-module-background.jpg");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}